<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYSITE</title>
<link rel="stylesheet" href={{url_for('static',filename="main.css")}}>
</head>
<body>
    <div class='navbar'>

  
<ul>
    <li><a href={{url_for('home')}}> home </a> </li>
    <li><a href={{url_for('transact')}} > Create Transaction  </a> </li>
    
    {% if current_user.is_authenticated %}
    <li><a href={{url_for('logout')}}> Logout</a> </li>
    <li><a href={{url_for('transact')}}> {{current_user.amount}} $</a> </li>
    {% else %}
    <li><a href={{url_for('signup')}}> SIGNUP </a> </li>    
    <li><a href={{url_for('login')}}>LOGIN </a> </li>
    {% endif %}
</ul>
</div>
<div class='content'>



    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h1> {{ message }}</h1>
    {% endfor %}
    {% endif %}
    {% endwith %}


<div class='page'>
{% if current_user.is_authenticated %}
<h3> your address: {{ current_user.address}}</h3>
{% endif %}




    {% block content %}
    {% endblock %}
</div>


</div>
</body>
</html>